@import './colors.scss';
@import './animations.scss';

.flex-container {
  position: relative;
  text-align: center;
  min-width: 700px;
}

#canvas {
  width: 25rem;
  height: 35rem;
  margin: 3rem;
  display: inline-block;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  text-align: center;
}

#inner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block {
  cursor: pointer;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  @include transition(all 2s);
}

#buttons {
  position: absolute;
  top: 14rem;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  padding: 10px;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

button:hover {
  background-color: #494848;
}

button:focus {
  outline: none;
}

@for $i from 1 through $block-variants {
  .block--size-#{$i} {
    @include flex-grow($i);
  }
}

@for $i from 1 through $block-variants {
  #canvas {
    background-color: map-get($rothko-colors, $i);
  }
}

@for $i from 1 through $block-variants {
  .block--color-#{$i} {
    background-color: map-get($rothko-colors, $i);
    // box-shadow: 0px 0px 10px 10px map-get($rothko-colors, $i);
  }
}

@for $i from 1 through $block-variants {
  .block--spacing-#{$i} {
    margin: ($i * 0.5px) 0;
  }
}

#canvas {
  @include transition(background-color 2s);
}

@for $i from 1 through $block-variants {
  .canvas--color-#{$i}#canvas {
    background-color: map-get($rothko-colors, $i);
  }
}
